@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: "PT Sans", sans-serif;
}

body {
    background: url("https://images.hdqwalls.com/wallpapers/kali-linux-dragon-4k-zz.jpg");
    background-size: cover;
}

.repo-frame {
    color:#fff;
}

.repo-frame:hover {
    cursor: pointer;
    color: rgb(170, 211, 255);
    text-decoration: underline;
}

.console {
    position: absolute;
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.console-title {
    color: #fff;
    margin-left: 1em;
    user-select: none;
}

.console-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    user-select: none;
}